{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top:10vh">
        <h1 class="text-center display-4">{% block title %} Diffusion Model Comparison {% endblock %}</h1>
    </div>
    <div class="container" style="text-align: center;margin-top:5vh">
        <div>
            <label for="category">Category:</label>
            <select id="category">
              <option value="style">Style</option>
              <option value="perspective">Perspective</option>
              <option value="creativity">Creativity</option>
              <option value="beauty">Beauty</option>
              <option value="composition">Composition</option>
              <option value="emotion">Emotional Expression</option>
            </select>
        </div>
        <div style="margin-top:2vh">
            <label for="prompt">Prompt #</label>
            <select id="prompt">
              <option value="1">1</option>
              <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>        
        </div>
    </div>
    <div class="container" id="promptText"></div>
    <div class="container" style="margin-top:5vh;padding-bottom:5vh">
        <div id="imageContainer"></div>
        <script src="{{ url_for('static', filename='js/variables.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </div>
    </div>

{% endblock %}

{% block extra %}

{% endblock %}